**/node_modules/
**/dist/
**/build/
**/coverage/
**/.cache/
**/.turbo/
**/.vite/
**/.parcel-cache/
**/.pnpm-store/
**/.next/

*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
.eslintcache

.env
.env.*.local
.env.local
.env.*.override

.idea/
.vscode/
